
:host ::ng-deep{
  .mat-badge-content {
    background: #C1121F;
    font-size: 12px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: -6px !important;
    right: -8px !important;
  }
}

.header{
  border-bottom: 1px solid #EBEBEC;
}

.logo:hover{
  cursor: pointer;
}

mat-icon{
  color: #24292EBF;
  &:hover{
    cursor: pointer;
    // color: #FFD701;
  }
}

.header-top-items{
  margin-right: 10px;
  .notification-icon{
    margin: 10px;
    margin-left: 20px;
  }
}

.menu-icon{
  margin-left: 10px;
}

.dashboard-menu-text{
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: #24292EBF;
}

.dashboard-name{
  font-size: 20px;
  color: #24292EBF ;
  margin-left: 10px;
}
